#navLogo {
  padding: 0;
  margin: 0;
}
body {
  background: #f8d7da;
}
footer {
  height: 75px;
  background-color: #984c0c;
}
main {
  min-height: 400px;
}
.card {
  background: #198754;
}
#subBtn {
  width: 100%;
}
