#navLogo {
  padding: 0;
  margin: 0;
}
/* body {} */
footer {
  height: 75px;
}
footer .row .col {
  background-color: #984c0c;
}
main .container {
  background: #f8d7da;
}
.card {
  background: #198754;
}
#subBtn {
  width: 100%;
}
